<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="/css/style.css">
    <title>footer</title>
</head>
<body>
    <footer class="main">
            <div class="container__footer">
                <div class="footer__img">
                    <img class="header__brand" src="/img/google.svg" alt="google">
                    <img class="header__brand" src="/img/instagram.svg" alt="instagram">
                    <img class="header__brand header__brand_l" src="/img/invision.svg" alt="invision">
                </div>
                <p class="license">ООО «Дент», лицензия №ЛО-86-8681-01868686047 от 13.02.2099 <br>
                    © 2018-2021</p>
                <p class="political">Политика в отношении <br> обработки персональных <br> данных</p>
                <img src="/img/logo.svg" alt="logo">
            </div>
    </footer>
</body>
</html>