<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>header</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__text">
                <div class="header__logo"><img src="/img/logo.svg" alt="logo"></div>
                <img class="header__brand" src="/img/google.svg" alt="google">
                <img class="header__brand" src="/img/instagram.svg" alt="instagram">
                <img class="header__brand header__brand_l" src="/img/invision.svg" alt="invision">
                <p class="header__text header__text_g">О нас</p>
                <p class="header__text">Услуги</p>
                <p class="header__text">Специалисты</p>
                <p class="header__text">Пациентам</p>
                <p class="header__text">Контакты</p>
                <p class="header__text"><img class="header_text_img" src="/img/location_outline.svg" alt="location_outline">Чебоксары,<br>Энтузиастов 1А</p>
                <p class="header__text"><img class="header_text_img" src="/img/coolicon.svg" alt="coolicon"> с 09:00 - 20:00 пн-сб </p>
                <p class="header__text"><img class="header_text_img" src="/img/phone.svg" alt="phone">  +7900 333 10 40</p>
                <p class="header__btn">Заказать звонок</p>
            </div>
        </div>
    </header>
</body>
</html>